header {
    flex-direction: row;
    display: flex;
    background-color: #e6ffe3;
    border-radius: 20px;
    box-shadow: 1px 2px 3px #676966;
    align-items: center;
    gap: 6px;
    padding-bottom: 8px;
    justify-content: space-evenly;
    width: 100%;

}

nav {

    align-self: center;
    display: flex;
    gap: 22px;
    font-size: x-large;
}

.galery {
    display: flex;
    /* grid-template-columns: repeat(4, 1fr); */
    justify-content: space-around;
    row-gap: 16px;
    flex-wrap: wrap;
    position: relative;





}

.galery img {
    height: 100%;
    width: 200px;
    object-fit: cover;

}



.galery-img {
    border-radius: 20px;
    box-shadow: 1px 1px 2px;
    position: relative;
    overflow: hidden;


}

.galery-img:hover>.action-img {
    transition: all 600ms;
    display: flex;
    opacity: 1;

}

.galery-img:hover>.action-img {
    transition: all 600ms;
    display: flex;
    opacity: 1;

}

.imgSVG:hover {

    translate: 0 -2px;

    box-shadow: 2px 2px 6px;
    transition: all 300ms;
}

.action-img {
    position: absolute;
    bottom: 8px;
    right: 8px;
    gap: 4px;
    /* display: none; */
    opacity: 0;
}

.editor-div {
    border: 1px solid #d2caca;
    overflow: hidden;
    height: 80%;
    width: 100%;
    border-radius: 40px;
    display: flex;
    flex-wrap: wrap;

    gap: 22px;

    /* grid-template-columns: repeat(2, 1fr); */
}

.img-edit {
    height: 100%;


}

.editor {
    display: none;
}

.header-editor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 22px;
}

.action-editor {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: center;

    gap: 4px;
    /* display: none; */

}

button {

    background-color: #5bcf4e;
    border: 1px solid #22611c;
    border-radius: 6px;
    padding: 4px
}

.cover-svg {
    border: 1px solid #5bcf4e;
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.select-svg {

    gap: 8px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
}

.back-button {
    display: none;
    padding-inline: 12px;
}

.editor-settings {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 160px;
    justify-content: space-between;
}

.Input-range {
    display: flex;

}

.backdrop-modal {
    position: fixed;
    display: flex;
    z-index: -20;
    opacity: 0;
    inset: 0;
    height: '100%';
    width: '100%';
    background-color: #00000061;
    justify-content: center;
    align-items: center;
    place-items: center;
    border: 1px solid #22611c;
}

.modal {
    background-color: #eeffec;
    min-height: 80px;
    min-width: 80px;
    z-index: 2;
}

.imgShow {
    width: 400px;
    height: 400px;
}

.controller-text {
    display: flex;
    flex-direction: column;
    border: 1px solid #22611c;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 6px;
    border-radius: 50%;
}

.imgSVG {
    height: 100%;
    width: 100px;
    object-fit: cover;


}

.common-serch {
    display: flex;
    flex-wrap: wrap;
    max-width: 160px;
    gap: 12px;
    padding: 8px;
    /* border: 1px solid #5bcf4e; */
}

.comSerch {
    font-size: x-large;
    color: #2c7324;
}

/* ---------------------------------------- */

.main-canvas {
    height: fit-content;
    width: fit-content;
    background: #bb6a6a8a;

}